="Karma: #{message.sender.karma}"
=message.content + message.id.to_s
=form_for :message, remote: true, url: {controller: 'messages', action: 'update'}, method: :put do |f|
  =f.radio_button(:thumbs_up, true)
  =label_tag(:thumbs_up_true, 'Thumbs Up')
  =f.radio_button(:thumbs_up, false)
  =label_tag(:thumbs_up_false, 'Thumbs Down')

  =f.submit :class => 'message_update'