%h1
  ="Welcome, #{@user.handle}!"

%h3
  New Messages
%p
  -@new_messages.each do |m|
    =link_to m.sender.handle, message_path(m) if m.sender
    %br
%h3
  Sent Messages
%p
  -@sent_messages.each do |m|
    =m.receiver.handle if m.receiver
    =m.content
    %br