%h1
  ="Welcome, #{@user.handle}!"

%h3
  New Messages
%p
  -@new_messages.each do |m|
    %div.message_sender
      =link_to m.sender.handle, user_path(@user) if m.sender
      %div.message_content
        =render :partial => 'messages/show', locals: {message: m}
    %br
%h3
  Sent Messages
%p
  -@sent_messages.each do |m|
    =m.receiver.handle if m.receiver
    =m.content
    %br